html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

html { box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

/* font-family: 'Josefin Sans', sans-serif;
font-family: 'Montserrat', sans-serif; */
/* font-family: 'Catamaran', sans-serif; */

/* REUSEABLE STYLE */
.wrapper {
    margin: 0 auto;
    max-width: 1400px;
    width: 90%;
}

body {
    font-family: 'Catamaran', sans-serif;
    font-size: 2rem; 
    font-weight: 400;
}

/* GENERIC STYLING */
html {
    font-size: 62.5%;
}

h2 {
    font-family:'Montserrat', sans-serif;
    font-size: 4.2rem;
    font-weight: bold;
    color: #E75605;
}

p {
    line-height: 40px;
}

button {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 700;
    border: 2px solid #E75605;
    background-color: white;
    padding: 10px;
}

/* HEADER */
header {
    height: 70vh;
    width: 100%;
    background-image: url(./hangry-tummy/Haungry-Tummy-Assets/header-burger.png);
    background-size: 50%;
    background-position: left;
    background-repeat: no-repeat; 
}

nav {
    height: 20vh;
    width: 100%;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav a {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    padding: 20px;
    color: #000;
}

nav a:hover {
    color: #E75605;
}

.fa-solid.fa-bars {
    display: none;
}

.headerContainer {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex: 1 auto;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 14.5rem;
    text-align: right;
    font-weight: 400;
    margin-top: 2rem;
    margin-right: 7.5rem;
    color: #E75605;
    display: block;
    flex: 1;
}
span {
    display: block;
}

.socialIcons {
    line-height: 4rem;
    margin-bottom: 18rem;
}

.socialIcons ul {
    list-style: none;
}

.socialIcons ul li i{
    font-size: 2rem;
} 
/* Main section starts here */
/* New to our menu/Full Experience Section */
section .menu, .experienceContainer {
    height: 53vh;
    display: flex;
}

section .menuText, .rightImgCard {
    width: 50%;
}

section .menuText, .experienceText {
    padding: 50px;
}

section .rightImg {
    width: 100%;
}

section .experienceText, .leftImgCard {
    width: 50%;
}

section .leftImg {
    width: 100%;
}

/* DESERT SECTION */
.wrapper .dessertBackground {
    height: 65vh;
    width: 100%;
}
.desserts {
    display: flex;
    justify-content: space-between;
    padding: 80px 0 80px 72px;
}
.dessertBackground {
    background-color: #EEEEEE;
}

.desserts h2 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.dessertText {
    margin-left: 40px;
}
.dessertImg {
    width: 41.7rem;
}

/* Location-Menu-Reach Out Section  */
.locateMenuReach{
    height: 50vh;
    width: 100%;
    background-color: #E75605;
 }
 .locateMenuReach ul {
    display: flex;
    justify-content: center;
    padding-top: 17rem;
    padding-left: 0;
    margin-top: 0;
 }
 .locateMenuReach ul li {
    display: inline-block;
 }
    
 .locateMenuReach h3 {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 4.2rem;
    font-weight: 700;
    padding: 4rem;
 }
 .locateMenuReach .fa-solid {
    font-size: 6rem;
 }
 .fa-solid.fa-location-arrow {
    margin-left: 15rem;
 }

 .fa-solid.fa-utensils {
    margin-left: 8rem;
 }
 .fa-solid.fa-phone-flip {
    margin-left: 14rem;
 }

 /* The Gram gallery section */

 .theGram {
    height: 56vh;
    width: 100%;
    margin: 80px 0 80px 0;
 }

 .theGram h2 {
    text-align: center;
    margin-bottom: 80px;
 }

 .gramImages {
    text-align: center;
 }

 .gramImages img {
    padding: 10px;
 }

 /* Footer Section */
 footer {
    height: 44vh;
    width: 100%;
 }

 footer .wrapper {
    background-color: #EEEEEE;
 }

 footer nav {
    display: flex;
    justify-content: center;
    align-items: center;
 }

 footer p {
    margin: 0px;
 }

 .footerFlex {
    display: flex;
    justify-content: space-around;
    padding-bottom: 60px;
 }

 #email {
    width: 40rem;
    padding: 10px;
    border: none;
    margin-right: -3px;
    height: 4.8rem;
 }

 footer button {
    padding-bottom: 13px;
 }

 footer h2 {
    text-align: center;
 }

 form h2 {
    margin-right: 10rem;
 }

 /* Media Query max-width: 375px */
 @media(max-width:375px) {
    /* Header Section */
    header {
        background-size: 140%;
        background-position: bottom;
    }
    nav {
        height: 8vh;
    }

    header nav ul {
        display: none;
    }

    .fa-solid.fa-bars {
        display: block;
        position: absolute;
        top: 2.75rem;
        right: 2rem;
        flex-direction: column;
        justify-content: space-between;
        font-size: 4rem;
        width: 58px;
        height: 38px;
    }
    .socialIcons {
        display: none;
    }
    h1 {
        font-size: 5rem;
        margin-right: 0px;
    }
    /* Main Section starts here */
    /* New to our menue/Full Experience Section */
    .menu {
        display: flex;
        flex-direction: column;
    }

    .menuText {
        order: 1;
    }
    section .menuText, .rightImgCard {
        width: 100%;
    }
    section .menu, .experienceContainer {
        height: 86vh;
        display: flex;
        flex-direction: column;
    }
    section .menuText,
    .experienceText {
        padding: 10px;
        text-align: center;
    }
    .menuText h2 {
    font-size: 2.9rem;
    }
    .menuText {
        text-align: center;
    }
    section .experienceText, .leftImgCard {
        width: 100%;
    }
    section .experienceText
    h2 {
        font-size: 2.9rem;
    }
    
 }